#Ignore node modules folder
node_modules
#Ignore compiled JavaScript folder
lib
*.tgz
#Ignore text files (used for notes)
*.txt
#Ignore performance testing file
performance
#Testing Reports
report*
coverage
.nyc_output
nyc
*.lcov

